body {
    background: rgb(220, 220, 220);
}

.WordSection1 {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 50px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

p.MsoNormal {
    text-align: left !important;
}
